<p id="notice"><%= notice %></p>

<p>
  <strong>Project:&nbsp;</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= pluralize( @project.stories.count, 'Story' ) %>

<%= link_to 'Add Story', new_story_path( project_id: @project.id ) %>

<% @project.stories.each do |story| %>
  <div class="story">
  	<%= story_summary( story ) %> <%= link_to 'Show', story_path( story ) %>
  </div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
