<%= form_for @story do |f| %>
  <% if @story.errors.any? %>
    <ul>
    <% @story.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
    </ul>
  <% end %>
  <%= f.label :status %>
  <%= f.select :status_id, @statuses %>
  <br/>
  <%= f.hidden_field :project_id %>
  <%= f.label :in_order_to %>
  <%= f.text_field :in_order_to %>
  <br/>
  <%= f.label :as_a %>
  <%= f.text_field :as_a %>
  <br/>
  <%= f.label :i_want_to %>
  <%= f.text_field :i_want_to %>
  <br/>
  <%= f.label :business_value %>
  <%= f.number_field :business_value %>
  <br/>
  <%= f.label :complexity_value %>
  <%= f.number_field :complexity_value %>
  <br/>
  <%= f.submit 'Save' %>
<% end %>
